body{
    background-color: lightblue;
}
.container{
    background-color: lightcoral;
    margin: auto;
    width:510px;
    height:600px;
    position: relative;
    top: 50px;
}
.score{
    display: flex;
    justify-content: center;
    height: 100px;
    font-family: 'Indie Flower', cursive;
    font-size: 4em;
    position: relative;
    top: -60px;
}
.scoreX{
    font-size: 1.3em;
    color: red
}
.scoreO{
    font-size: 1.3em;
    color: blue
}
.divider{
    font-size: 1.3em;
    color: white
}
.field{
    height: 170px;
    width: 170px;
    font-family: 'Indie Flower', cursive;
    font-size: 10em;
    text-align: center;
    line-height: 85px;
}
.board{
    display: flex;
    flex-wrap: wrap;
}
.reset{
    width: 200px;
    height: 100px;
    position: absolute;
    left: 1150px;
    top: 350px;
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
    color: rgb(33, 134, 12)
}